.app-home {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
}

.shortlink-form {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 6rem;



}

.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: none;
  padding: 0;
}

input[type="text"] {
  flex: 1;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.error-message {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.3125rem;
}

button[type="submit"] {
  padding: 0.625rem 1.25rem;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: red;
}

.shortlink-list {
  margin-top: 3.125rem;
}

.shortlink-list h2 {
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

.shortlink-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  border-bottom: 0.0625rem solid #ccc;
  overflow: hidden;
}

.shortlink-item:last-child {
  border-bottom: none;
}

.shortlink-item p {
  margin: 0;
  font-size: 1rem;
}

.shortlink-item-right {
  display: flex;
  align-items: center;
}

.shortlink-item-right button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
}

.copy-button {
  color: #00bfff;
}

.delete-button {
  color: red;
}

.shortlink-item-url {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.shortlink-item-url a {
  color: #00bfff;
  text-decoration: none;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shortlink-item-url a:hover {
  text-decoration: underline;
}

.shortlink-item-stats {
  display: flex;
  align-items: center;
}

.shortlink-item-stats-left,
.shortlink-item-stats-right {
  display: flex;
  align-items: center;
}

.shortlink-item-stats-left-item,
.shortlink-item-stats-right-item {
  display: flex;
  align-items: center;
  margin-right: 0.625rem;

  span {
    margin-left: 0.3125rem;
    white-space: nowrap;
  }

  &:hover {
    color: black;
    cursor: pointer;
  }
}
